<!-- <div  style="padding: 0px;">
  <div class="chartContent">
<div>
  <div class="col-sm-12">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="f-size20 txtCenter99">
        Incidents Happened in Cities
      </div>
      <div>
        <ngx-charts-bar-vertical [view]="view1" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="f-size20 txtCenter99">
        Total Digital Assets
      </div>
      <div>
        <table class="table table-responsive table-striped  table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cities</th>
              <th scope="col">Total</th>
              <th scope="col">Working</th>
              <th scope="col">Repair</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let show of showdigitalAssert; let i = index">
              <td scope="row">{{i+1}}</td>
              <td class="table-primary"> <a routerLink="/dashboard/digital/Coimbatore"> {{show.cityName}}</a></td>
              <td class="table-primary">{{show.total}}</td>
              <td class="table-primary">{{show.working}}</td>
              <td class="table-primary">{{show.repair}}</td>
            </tr>
          </tbody>
        </table>
       
      </div>
    </div>

  </div>
</div>
</div>
</div> -->
<div class="row">
  <div class="col-sm-7">
      <div class="bgMap">
          <div id="chartdiv" [style.width.px]="800" [style.height.px]="370"></div>
      </div>
  </div>
  <div class="col-sm-5">
    <table class="table table-responsive table-striped  table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cities</th>
          <th scope="col">Total</th>
          <th scope="col">Working</th>
          <th scope="col">Maintanance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let show of showdigitalAssert; let i = index">
          <td scope="row">{{i+1}}</td>
          <td class="table-primary"> <a routerLink="/dashboard/digital/{{show.cityName}}"> {{show.cityName}}</a></td>
          <td class="table-primary" (click)="showtotal(show.total)"><a>{{show.total}}</a></td>
          <td class="table-primary" (click)="showtotal(show.working)"><a>{{show.working}}</a></td>
          <td class="table-primary">{{show.repair}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>
<div class="row">
  <div class="col-sm-6">
      <div class="bgMap">
    <div id="chartdiv1" [style.width.px]="600" [style.height.px]="250"></div>
    </div>
  </div>
  
</div>