.viewAllBg{
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #fff;
    padding:10px;
}
.viewTableStyle td{
 padding:5px;
}
.viewMapStyle{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px 45px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
agm-map {
    height: 550px ;
  }
  a {
    color: darkblue;
  }
 .mapCenter{
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 295px;
  padding: 10px;
 }
 .transportTable tr td, .transportTable tr th{
   padding: 5px;
   border: 1px solid #fff;
 }
 .transportTable{
  width:100%;
 }
 .divScroll{
  width:100%;
 height: 295px;
  /* overflow-x : scroll; */
  overflow-y:scroll;
 }
 .bordrBtm{border-bottom: 1px solid #ccc;}
 .moderateStyle{
  background: #dba02b;
  margin: 2px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}
.satisfactryStyle{
  background: #2def2d;
  margin: 2px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}
.severeStyle{
  background: #ed1c24;
  margin: 2px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}
.cardetailsStley{
  padding: 10px;
  border: 1px solid #61bb97;
  background: #fbfbfb;
  box-shadow: 1px 2px 17px -2px #61bb97;
  border-radius: 6px;
}
#wifimap{
  border:1px solid #ddd;border-radius:6px;
}
#wifimap agm-map{
  height: 590px;
}