<div class="">
  <div>
    <div class="row-fluid">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="positionRelative">
          <div id="wasteMagmt">
            <!-- <app-map></app-map> -->
            <!-- <img  src="markers[0].iconUrl">
                    {{markers[0].iconUrl}}
                   <img src="../assets/images/light_on.png">
                   <img src="assets/images/lightOn.png"> -->
            <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom1" [disableDefaultUI]="false" [zoomControl]="zoomControl"
              (mapClick)="mapClicked($event)">
              <agm-marker *ngFor="let m of trafficMarkers; let i = index" 
              (markerClick)="clickedMarker(m, infoWindow, gm)"
                [latitude]="m.lat" [longitude]="m.lng" 
                [label]="m.label" [markerDraggable]="m.draggable" [iconUrl]="m.iconUrl"
                (mouseOver)="mouseOver($event, m, infoWindow, gm)"
                (dragEnd)="markerDragEnd(m, $event)">
                <agm-info-window #infoWindow>
                  <div class="tooltipData">

                    <strong>
                      <div class="moderateStyle" [hidden]="!moderateVar">
                        {{status}}
                      </div>
                      <div class="satisfactryStyle" [hidden]="!goodVar">
                       Report
                      </div>
                      <div class="severeStyle" [hidden]="!severeVar">
                        {{status}}
                      </div>

                    </strong>
                    <strong> Health : {{ health }} - {{healthValue}} </strong>
                    <br>
                    <strong>Mode : {{mode}} </strong>
                    <br>
                    <strong> Cycle Time : {{cycle}} Seconds </strong>
                    <br>
                    <strong> Delay : {{delay}}</strong>
                    <br>
                  </div>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
        <div id="tab7" class="">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10" style="height:595px;">
            <div class="f-size20 p10 titleArea" style="color:#999;">{{info1}}</div>
            <div class="p-20">
              <div class="smartWifi">
                <ngx-charts-advanced-pie-chart [view]="view11" [scheme]="colorScheme" [results]="single4" [gradient]="gradient" (select)="onSelect($event)">
                </ngx-charts-advanced-pie-chart>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>