<!-- <div class="container">
    <div style="float: right;">
        <select  name="option" id="option" [(ngModel)]="option" (change)="selectYear(option)">
          <option value="" selected>Select Year</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
        </select>
      </div>
<div class="row">
  <div class="col-sm-6">
    <agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"

      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>
        <b>{{m.lat}}</b><br>
        <b>{{m.lng}}</b><br>
        <b>{{m.city}}</b>
      </strong>
    </agm-info-window>
    
  </agm-marker>
</agm-map>
  </div>
  <div class="col-sm-6">
    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
    [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
      <div id="chartdiv" [style.width.px]="500" [style.height.px]="250"></div>
  </div>
</div>
</div> -->
<div  style="padding: 0px;">
    <div class="chartContent">   
        <div class="">
            <div  class="">
                <div class="col-lg-5 col-md-12 col-ms-12 col-xs-12 airMap m-btm20" style="padding-left:25px;">
                  <div class="electricitymap" id="incidentMapArea111">
                      <agm-map 
                      [latitude]="lat"
                      [longitude]="lng"
                      [zoom]="zoom"
                      [disableDefaultUI]="false"
                      [zoomControl]="false"
                      (mapClick)="mapClicked($event)">
                    
                      <agm-marker 
                          *ngFor="let m of markers; let i = index"
                          (markerClick)="clickedMarker(m.label, i)"
                          [latitude]="m.lat"
                          [longitude]="m.lng"
                          [label]="m.label"
                    
                          [markerDraggable]="m.draggable"
                          (dragEnd)="markerDragEnd(m, $event)">
                          
                        <agm-info-window>
                          <strong>
                            <b>{{m.lat}}</b><br>
                            <b>{{m.lng}}</b><br>
                            <b>{{m.city}}</b>
                          </strong>
                        </agm-info-window>
                        
                      </agm-marker>
                    </agm-map>
                  </div>        
                </div>
                <div class="col-lg-7 col-md-12 col-ms-12 col-xs-12">
                    <div id="tabsArea" class="multitabs">
                        <div class="panel panel-default">
                          <div class="panel-heading">                  
                            <ul class="nav nav-tabs">
                              <li class="active" data-toggle="tooltip" title="Smart Water Distribution">
                                <a data-toggle="tab" href="#tab11" class="text-capitalize">Property Tax</a>
                              </li>
                              
                            </ul>      
                          </div>
                          <div class="panel-body">
                            <div class="tab-content chartContent">
                              <div id="tab11" class="tab-pane fade in active">      
                                  <div style="float: right;">
                                      <select  name="option" id="option" [(ngModel)]="option" (change)="selectYear(option)">
                                        <option value="Select Year" >Select Year</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                      </select>
                                    </div>
                                 <div class="paddingLeftRightZero">
                                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
                                    [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                                  </ngx-charts-bar-vertical>
                                  <div class="ngmap">
                                  <div id="chartdiv" [style.width.px]="400" [style.height.px]="250"></div>
                                </div>
                                 </div>
                              </div>
                             
                            </div>
                          </div>
                        </div>
                      </div>
                </div> 
              </div>
          </div>
          </div>
          </div>