.inputSTyle{
    padding: 6px;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 3px;
}
.addBtn11{
    margin-top: 19px;
    padding: 7px 18px;
}
.txtAreaStyle{
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 254px;
    /* margin-top: 10px; */
    margin-left: -17px;
}
.btnSUbmtPortal{
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 7px 18px;
    margin-left: -17px;
}
.remveStyle{
    cursor: pointer;
    width: 26px;
    margin-top: -2px;
}
