<div class="">
  <div>
    <div class="row-fluid">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="positionRelative">
          <div id="transportmap">
            <!-- <app-map></app-map> -->
            <!-- <img  src="markers[0].iconUrl">
                  {{markers[0].iconUrl}}
                 <img src="../assets/images/light_on.png">
                 <img src="assets/images/lightOn.png"> -->
            <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="transportZoom" [disableDefaultUI]="false" [zoomControl]="zoomControl" (mapClick)="mapClicked($event)">

              <agm-marker *ngFor="let m of transportMarkers; let i = index" (markerClick)="clickedMarker(m, i, m.info, m.type, m.previousReading, m.currentReading, m.time, m.status,m.collectionBill,m.bandwidth,m.lightStatus);gm.lastOpen?.close(); gm.lastOpen = infoWindow"
                [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" [iconUrl]="m.iconUrl"
                (dragEnd)="markerDragEnd(m, $event)">
                <agm-info-window #infoWindow>
                  <div class="tooltipData" *ngIf="!viewBusTransport">
                    <strong class="text-center" style="color:red;text-align: center !important;
                            display: inherit;">Report Status</strong>
                    <strong>
                      <hr class="hrStyle1" />
                    </strong>
                    <strong>City: {{ info1 }}</strong>
                    <br>
                    <strong>Total Buses: {{previousReading}}</strong>
                    <br>
                    
                  </div>
                  <div class="tooltipData" *ngIf="viewBusTransport" style="border: 2px solid #000">
                    <table border="1" class="transportTable">
                      <tr style="background: #96c7f1;">
                        <th colspan="6" class="text-center">
                          {{info1}}
                        </th>
                      </tr>
                      <tr style="background: #96c7f1;">
                        <td>Total Buses</td>
                        <td colspan="6">{{previousReading}}</td>
                      </tr>
                      <tr style="background: #96c7f1;">
                        <td>Running Buses</td>
                        <td colspan="6">{{currentReading}}</td>
                      </tr>
                      <tr style="background: #96c7f1;">
                        <td>abandoned</td>
                        <td colspan="6">{{type}}</td>
                      </tr>
                      <tr style="background: #96c7f1;">
                        <td>Under Maintenance</td>
                        <td colspan="6">{{status}}</td>
                      </tr>
                    </table>
                  </div>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      <!-- Paring Map included here -->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div id="tab8" class="">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 viewAllBg digitalAsset m_b10" style="height:590px;">
                <div class="f-size20 p10 titleArea" style="color:#999;"></div>
                <div class="p-20">
                  <div class="">
                    <!-- <ngx-charts-advanced-pie-chart style="width:700px;" [view]="view11" [scheme]="colorScheme" [results]="busData" [gradient]="gradient"
                      (select)="onSelect($event)">
                    </ngx-charts-advanced-pie-chart> -->
                    <div id="chartdiv" [style.width.px]="600" [style.height.px]="400"></div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>