.footrStyle{
    border-right: 1px solid #675e5e;
    padding: 4px;
    border-width: 2px;
    display: inline-block;
    margin: auto;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #675e5e;
}
.listNone{
    list-style: none;
}
.footerStyle123{
    background:#fff;
    -webkit-box-shadow: -4px -9px 5px -6px #dddd;
    box-shadow: -4px -9px 5px -6px #dddd;
    padding: 20px;
    font-size: 14px;
}