<div class="p20">
  <div style="border: 1px dashed #b9b6b6;border-radius: 6px;padding: 20px 0px;margin-top: 40px;">
      <div class="text-center m_b10" style="font-size: 24px;">Login</div>
      <div class="divCenter">
        <form>
         <div>
          <input type="text" placeholder="User Name" class="inputStyle m_b10" name="email" [(ngModel)] = "login.email">
         </div>
          <div>
            <input type="password" placeholder="Password" class="inputStyle m_b10" name = "password" [(ngModel)] = "login.password">
          </div>
          <div class="m_b10">
            <input type="checkbox" name="vehicle" value="password"> Remember Password 
          </div>
          <button class="btn divCenter loginBtn" (click)="loginForm()">Submit</button>      
        </form>
        <div>
          <div style="float: left; margin-right: 15px;">Dont have any account ?</div>
          <div class="color-blue f-bold"> SIGN UP</div>
        </div>
      </div>
  </div>  
</div>
