<div id="tab5">
  <div class="row">
      <div class="col-sm-4">
        <div class="bgMap">
            <div id="chartdiv0" [style.width.px]="462" [style.height.px]="250"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bgMap">
            <div id="chartdiv1" [style.width.px]="420" [style.height.px]="250"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="bgMap">
            <div id="chartdiv" [style.width.px]="500" [style.height.px]="250"></div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-4">
          <div class="bgMap">
            <div id="chartdiv2" [style.width.px]="450" [style.height.px]="250"></div>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="bgMap">
          <div id="chartdiv3" [style.width.px]="400" [style.height.px]="250"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="bgMap">
          <div id="chartdiv4" [style.width.px]="400" [style.height.px]="250"></div>
        </div>
    </div>
  </div>
</div>
